Repository TeamGrowTo/Team-GrowTo-Client, pull requests merged in 2022-04, with the labels that each got.

#252 Feature/category list
  components/category/CardBox/LargeCardBox/index.tsx
  components/category/CardBox/LargeCardBox/style.ts
  components/category/CardBox/SmallCardBox/index.tsx
  components/category/CardBox/SmallCardBox/style.ts
  components/category/CardListContainer/style.ts
  components/category/Result/index.tsx
  components/category/Result/style.ts
  components/category/SortingBox/index.tsx
  components/category/SortingBox/style.ts
  components/category/SortingBtn/index.tsx
  public/assets/icons/bookmarkIcon.svg
  public/assets/icons/calendarIcon.svg
  public/assets/icons/index.ts
  public/assets/icons/likeIcon.svg
  public/assets/icons/moveToIcon.svg
  public/assets/icons/timeIcon.svg
  public/assets/icons/videoIcon.svg
  styles/colors.ts
Labels: 기능구현🎃, style:tulip:, 반응형💫

#250 Feature/main lecture category
  components/main/LectureCategory/Category/index.tsx
  components/main/LectureCategory/Category/style.ts
  components/main/LectureCategory/index.tsx
  components/main/LectureCategory/style.ts
  public/assets/images/index.ts
  public/assets/images/mainLectureCategoryDataIcon.png
  public/assets/images/mainLectureCategoryDesignIcon.png
  public/assets/images/mainLectureCategoryDevIcon.png
  public/assets/images/mainLectureCategoryEtcIcon.png
  public/assets/images/mainLectureCategoryMarketingIcon.png
  public/assets/images/mainLectureCategoryPlanIcon.png
  public/assets/images/mainLectureDataIcon.png
  public/assets/images/mainLectureDesignIcon.png
  public/assets/images/mainLectureDevelopIcon.png
  public/assets/images/mainLectureEtcIcon.png
  public/assets/images/mainLectureMarketingIcon.png
  public/assets/images/mainLecturePlanIcon.png
Labels: style:tulip:

#251 Feature/main to process
  components/main/LectureCategory/index.tsx
  components/main/MainToProcessButton/index.tsx
  components/main/MainToProcessButton/style.ts
  pages/index.tsx
  public/assets/icons/index.ts
  public/assets/icons/mainToProcessButtonIcon.png
  styles/colors.ts
Labels: 기능구현🎃, style:tulip:

#258 Feature/category and skill
  components/category/CategoryAndSkillList/CategoryList/index.tsx
  components/category/CategoryAndSkillList/CategoryList/style.ts
  components/category/CategoryAndSkillList/DesktopCategoryAndSkillList/index.tsx
  components/category/CategoryAndSkillList/DesktopCategoryAndSkillList/style.ts
  components/category/CategoryAndSkillList/SkillList/style.ts
  components/category/CategoryToRequest/index.tsx
  components/category/CategoryToRequest/style.ts
  styles/colors.ts
Labels: style:tulip:

#255 Feature/main lecture category
  components/main/LectureCategory/Category/style.ts
  components/main/LectureCategory/CategoryList/index.tsx
  components/main/LectureCategory/CategoryList/style.ts
  components/main/LectureCategory/index.tsx
  components/main/LectureCategory/style.ts
  components/main/MainToProcessButton/index.tsx
  hooks/UseCategorySorting.ts
  pages/category/index.tsx
  pages/index.tsx
Labels: 기능구현🎃

#256 Feature/result card
  .env
  components/result/ProcessResult/ResultCard/BottomButtons/index.tsx
  components/result/ProcessResult/ResultCard/BottomButtons/style.ts
  components/result/ProcessResult/ResultCard/Info/index.tsx
  components/result/ProcessResult/ResultCard/Info/style.ts
  components/result/ProcessResult/ResultCard/Tags/index.tsx
  components/result/ProcessResult/ResultCard/Tags/style.ts
  components/result/ProcessResult/ResultCard/index.tsx
  components/result/ProcessResult/ResultCard/style.ts
  components/result/ProcessResult/style.ts
  public/assets/icons/index.ts
  public/assets/icons/resultCardBookMarkIcon.png
  public/assets/icons/resultCardCalendarIcon.png
  public/assets/icons/resultCardHeartIcon.png
  public/assets/icons/resultCardPriceIcon.png
  public/assets/icons/resultCardReplayTimeIcon.png
  public/assets/icons/resultCardVideoIcon.png
  styles/colors.ts
  types/lectures.type.ts
Labels: style:tulip:

#260 Feature/result question
  components/result/Question/QuestionButton/style.ts
  styles/colors.ts
Labels: style:tulip:

#259 category PC, mobile 완성
  components/category/CardBox/LargeCardBox/index.tsx
  components/category/CardBox/LargeCardBox/style.ts
  components/category/CardBox/SmallCardBox/index.tsx
  components/category/CardBox/SmallCardBox/style.ts
  components/category/CategoryAndSkillList/CategoryList/style.ts
  components/common/NavBar/SmallNavBar/index.tsx
  store/state.ts
  styles/colors.ts
  types/info.type.ts
Labels: 기능구현🎃, 반응형💫, UX writing :writing_hand:
