Repository TeamGrowTo/Team-GrowTo-Client, pull requests merged in 2022-01, with the labels that each got.

#4 Feature/nav bar
  .eslintrc.js
  .prettierrc.json
  .vscode/settings.json
  components/common/Layout.tsx
  components/common/NavBar/index.tsx
  components/common/NavBar/style.ts
  package-lock.json
  package.json
  pages/choice/index.tsx
  public/assets/icons/index.ts
  public/assets/icons/logoIcon.svg
Labels: 기능구현🎃

#11 Feature/main banner
  components/main/banner/index.tsx
  components/main/banner/style.ts
  pages/index.tsx
  public/assets/fonts/Pretendard-ExtraBold.subset.woff
  public/assets/fonts/Pretendard-ExtraBold.subset.woff2
  public/assets/fonts/Pretendard-ExtraBold.ttf
  public/assets/fonts/font.css
  public/assets/images/index.ts
  public/assets/images/mainBannerCompass.png
Labels: 기능구현🎃, style:tulip:, layout:ice_cube:

#15 Feature/main lecture category
  components/main/LectureCategory/Category/index.tsx
  components/main/LectureCategory/Category/style.ts
  components/main/LectureCategory/index.tsx
  components/main/LectureCategory/style.ts
Labels: documentation :scroll:

#18 Feature/category list
  .prettierrc
  components/category/CardBox/index.tsx
  components/category/CardBox/style.ts
  components/category/CardListContainer/index.tsx
  components/category/CardListContainer/style.ts
  components/category/Result/index.tsx
  components/category/Result/style.ts
  components/category/SortingBox/index.tsx
  components/category/SortingBox/style.ts
  components/category/SortingBtn/index.tsx
  components/category/SortingBtn/style.ts
  components/common/NavBar/style.ts
  package-lock.json
  package.json
  pages/category/index.tsx
  pages/category/style.ts
  pages/index.tsx
  public/assets/fonts/Pretendard-Medium.subset.woff
  public/assets/fonts/Pretendard-Medium.subset.woff2
  public/assets/fonts/Pretendard-Medium.ttf
  public/assets/fonts/Pretendard-SemiBold.subset.woff
  public/assets/fonts/Pretendard-SemiBold.subset.woff2
  public/assets/fonts/Pretendard-SemiBold.ttf
  public/assets/fonts/font.css
  public/assets/icons/arrowDown.svg
  public/assets/icons/arrowRight.svg
  public/assets/icons/arrowUp.svg
  public/assets/icons/index.ts
  styles/GlobalStyles.ts
  styles/colors.ts
Labels: 기능구현🎃, 도와줘요💣

#27 feat:Footer UI 및 링크 연결 완료
  .vscode/settings.json
  components/main/Banner/index.tsx
  components/main/Footer/index.tsx
  components/main/Footer/style.ts
  pages/index.tsx
  public/assets/fonts/font.css
  public/assets/icons/InstagramLogo.svg
  public/assets/icons/index.ts
  public/assets/images/index.ts
Labels: 기능구현🎃, style:tulip:

#26 Feature/process
  components/main/Share/style.ts
  components/process/CardTitle/index.tsx
  components/process/CardTitle/style.ts
  components/process/TagButton/index.tsx
  components/process/TagButton/style.ts
  components/process/Title/index.tsx
  components/process/Title/style.ts
  components/process/TypeButton/index.tsx
  components/process/TypeButton/style.ts
  libs/axios.ts
  package-lock.json
  package.json
  pages/apis/info.api.ts
  pages/apis/lectures.api.ts
  pages/process/index.tsx
  pages/processPrice/index.tsx
  pages/processPrice/style.ts
  pages/processTag/index.tsx
  pages/processTag/style.ts
  pages/processTime/index.tsx
  pages/processTime/style.ts
  public/assets/icons/index.ts
  public/assets/icons/nextArrowAble.svg
  public/assets/icons/nextArrowDisabled.svg
  public/assets/icons/prevArrow.svg
  public/assets/icons/processLoading.svg
  public/assets/icons/processPlayIcon.png
  public/assets/icons/processSquareIcon.png
  public/assets/icons/progressPrice.svg
  public/assets/icons/progressPriceM.svg
  public/assets/icons/progressTag.svg
  public/assets/icons/progressTagM.svg
  public/assets/icons/progressTime.svg
  public/assets/icons/progressTimeM.svg
  store/state.ts
  styles/colors.ts
  types/info.type.ts
  types/lectures.type.ts
Labels: 기능구현🎃, style:tulip:, layout:ice_cube:

#6 Feature/main report
  .vscode/settings.json
  components/main/MainReport/ReportSection/index.tsx
  components/main/MainReport/ReportSection/style.ts
  components/main/MainReport/index.tsx
  components/main/MainReport/style.ts
  pages/apis/count.api.ts
  pages/index.tsx
  public/assets/fonts/font.css
  public/assets/icons/index.ts
  public/assets/icons/mainReportFindIcon.svg
  public/assets/icons/mainReportLine.svg
  public/assets/icons/mainReportLine_mobile.svg
  public/assets/icons/mainReportRequestIcon.svg
  public/assets/icons/mainReportTotalIcon.svg
  public/assets/images/index.ts
  public/assets/images/mainReportBackground.png
  styles/colors.ts
  types/count.type.ts
Labels: 기능구현🎃

#24 Feature/category and skill
  components/category/CategoryAndSkillList/CategoryList/index.tsx
  components/category/CategoryAndSkillList/CategoryList/style.ts
  components/category/CategoryAndSkillList/SkillList/index.tsx
  components/category/CategoryAndSkillList/SkillList/style.ts
  components/category/CategoryAndSkillList/index.tsx
  components/category/CategoryAndSkillList/style.ts
  pages/apis/info.api.ts
  pages/category/index.tsx
  public/assets/fonts/font.css
  public/assets/icons/categoryRightArrowIcon.svg
  public/assets/icons/index.ts
  public/assets/images/index.ts
  store/state.ts
  styles/colors.ts
  types/info.type.ts
Labels: bug :bug:, 기능구현🎃, style:tulip:, layout:ice_cube:

#21 Feature/request current lecture
  components/request/RequestCurrentLecture/CurrentLecture/index.tsx
  components/request/RequestCurrentLecture/CurrentLecture/style.ts
  components/request/RequestCurrentLecture/index.tsx
  components/request/RequestCurrentLecture/style.ts
  pages/request/index.tsx
  public/assets/images/requestLectureBackground1.png
  public/assets/images/requestLectureBackground2.png
  public/assets/images/requestLectureBackground3.png
  public/assets/images/requestLectureBackground4.png
Labels: 기능구현🎃, 도와줘요💣

#46 Feature/result card
  components/result/ProcessResult/ResultCard/Info/index.tsx
  components/result/ProcessResult/ResultCard/SubInfo/index.tsx
  components/result/ProcessResult/ResultCard/index.tsx
  components/result/ProcessResult/index.tsx
  components/result/ProcessResult/style.ts
  pages/apis/lectures.api.ts
  pages/result/[id].tsx
  pages/result/index.tsx
  public/assets/images/comparisonImg.png
  public/assets/images/compass.png
  public/assets/images/index.ts
  styles/colors.ts
  types/lectures.type.ts
Labels: 기능구현🎃, style:tulip:

#40 Feature/result notification
  components/result/MiddleNotification/index.tsx
  components/result/MiddleNotification/style.ts
  pages/result/[id].tsx
  public/assets/icons/index.ts
  public/assets/icons/notiIcon.svg
Labels: style:tulip:, layout:ice_cube:

#35 Feature/result question
  components/result/Question/QuestionButton/index.tsx
  components/result/Question/QuestionButton/style.ts
  components/result/Question/QuestionModal/DescriptionInput/index.tsx
  components/result/Question/QuestionModal/DescriptionInput/style.ts
  components/result/Question/QuestionModal/DropdownInput/index.tsx
  components/result/Question/QuestionModal/DropdownInput/style.ts
  components/result/Question/QuestionModal/EmailInput/index.tsx
  components/result/Question/QuestionModal/InputForm/index.tsx
  components/result/Question/QuestionModal/InputForm/style.ts
  components/result/Question/QuestionModal/LectureNameInput/index.tsx
  components/result/Question/QuestionModal/QuestionReported/index.tsx
  components/result/Question/QuestionModal/QuestionReported/style.ts
  components/result/Question/QuestionModal/index.tsx
  components/result/Question/QuestionModal/style.ts
  components/result/Question/index.tsx
  components/result/Question/style.ts
  pages/apis/lectures.api.ts
  pages/result/[id].tsx
  public/assets/icons/DownArrowIcon.svg
  public/assets/icons/UpArrowIcon.svg
  public/assets/icons/index.ts
  public/assets/icons/questionIcon.svg
  types/lectures.type.ts
Labels: 기능구현🎃, style:tulip:, layout:ice_cube:

#37 Feature/result share
  components/result/ResultShareButton/index.tsx
  components/result/ResultShareButton/style.ts
  pages/result/[id].tsx
  public/assets/icons/index.ts
  public/assets/icons/resultShareIcon.svg
Labels: 기능구현🎃, style:tulip:, layout:ice_cube:

#28 Feature/redirect process page
  components/category/CategoryAndSkillList/index.tsx
  components/category/CategoryAndSkillList/style.ts
  components/category/RedirectProcessButton/index.tsx
  components/category/RedirectProcessButton/style.ts
  pages/category/index.tsx
  pages/process/[...params].tsx
  public/assets/icons/10second.svg
  public/assets/icons/icRight.svg
  public/assets/icons/index.ts
Labels: 기능구현🎃, style:tulip:, layout:ice_cube:

#31 Feature/lectureCategory
  components/main/LectureCategory/Category/index.tsx
  components/main/LectureCategory/Category/style.ts
  components/main/LectureCategory/index.tsx
  components/main/LectureCategory/style.ts
  pages/category/index.tsx
  pages/index.tsx
  public/assets/icons/index.ts
  public/assets/icons/mainLectureDataIcon.svg
  public/assets/icons/mainLectureDesignIcon.svg
  public/assets/icons/mainLectureDeveloperIcon.svg
  public/assets/icons/mainLectureEtcIcon.svg
  public/assets/icons/mainLectureMarketingIcon.svg
  public/assets/icons/mainLecturePlanIcon.svg
Labels: 기능구현🎃, style:tulip:, layout:ice_cube:

#55 Feature/main lecture category
  components/category/CategoryAndSkillList/CategoryList/index.tsx
  components/main/LectureCategory/index.tsx
  pages/category/index.tsx
  store/state.ts
Labels: api :apple:

#59 Feature/result share
  components/result/ResultShareButton/index.tsx
Labels: 기능구현🎃

#61 Feature/result question
  components/category/CategoryAndSkillList/CategoryList/index.tsx
  components/result/Question/QuestionModal/DropdownInput/index.tsx
  components/result/Question/QuestionModal/EmailInput/index.tsx
  components/result/Question/QuestionModal/index.tsx
  components/result/Question/index.tsx
  components/result/Question/style.ts
  pages/apis/info.api.ts
  pages/apis/lectures.api.ts
  types/lectures.type.ts
Labels: api :apple:

#63 Feature/result notification
  components/result/MiddleNotification/style.ts
Labels: style:tulip:

#64 Feature/result share
  components/result/ResultShareButton/style.ts
Labels: style:tulip:

#68 Feature/category list
  components/category/CardListContainer/index.tsx
  components/category/CardListContainer/style.ts
  components/category/Result/index.tsx
  components/category/Result/style.ts
  components/common/NavBar/LargeNavBar/index.tsx
  components/common/NavBar/SmallNavBar/index.tsx
  components/common/NavBar/SmallNavBar/style.ts
  public/assets/images/categoryClickImg.png
  public/assets/images/index.ts
  types/info.type.ts
Labels: 기능구현🎃, style:tulip:, api :apple:

#70 Feature/category and skill
  components/category/CategoryAndSkillList/CategoryList/style.ts
  components/category/CategoryAndSkillList/SkillList/index.tsx
  components/category/CategoryAndSkillList/index.tsx
  components/category/CategoryAndSkillList/style.ts
  pages/category/index.tsx
Labels: bug :bug:, style:tulip:

#73 Feature/redirect process page
  pages/category/index.tsx
Labels: bug :bug:

#71 Feature/result card
  components/result/ProcessResult/ResultCard/Info/index.tsx
  components/result/ProcessResult/ResultCard/SubInfo/index.tsx
  components/result/ProcessResult/index.tsx
  pages/apis/lectures.api.ts
  pages/result/[id].tsx
  pages/result/style.ts
  types/lectures.type.ts
Labels: style:tulip:, api :apple:, 데이터바인딩🧵, 리팩토링 :rabbit:

#74 Feature/result card
  components/result/ProcessResult/ResultCard/index.tsx
Labels: 기능구현🎃

#77 feature/categoryList
  components/category/CardListContainer/index.tsx
  components/category/SortingBox/index.tsx
  components/category/SortingBtn/index.tsx
  components/category/SortingBtn/style.ts
  components/common/NavBar/LargeNavBar/index.tsx
  store/state.ts
Labels: 기능구현🎃

#78 Feature/result
  pages/result/[id].tsx
Labels: bug :bug:

#76 Feature/result share
  components/common/Modal/style.ts
  components/result/ResultShareButton/index.tsx
Labels: style:tulip:

#79 Feature/nav Bar
  components/common/NavBar/LargeNavBar/index.tsx
Labels: bug :bug:

#89 Feature/main report
  components/main/MainReport/ReportSection/index.tsx
  components/main/MainReport/ReportSection/style.ts
  components/main/MainReport/index.tsx
  components/main/MainReport/style.ts
  public/assets/icons/index.ts
  public/assets/icons/mainReportFindIcon.svg
  public/assets/icons/mainReportLine-mobile.svg
  public/assets/icons/mainReportRequestIcon.svg
  public/assets/icons/mainReportTotalIcon.svg
  public/assets/images/index.ts
  public/assets/images/mainReportFindIcon-mobile.png
  public/assets/images/mainReportFindIcon.png
  public/assets/images/mainReportRequestIcon-mobile.png
  public/assets/images/mainReportRequestIcon.png
  public/assets/images/mainReportTotalIcon-mobile.png
  public/assets/images/mainReportTotalIcon.png
Labels: 사소하지만중요해🧶, 반응형💫

#87 Feature/redirect process page
  components/category/RedirectProcessButton/index.tsx
  components/category/RedirectProcessButton/style.ts
  public/assets/icons/icRightSmall.svg
  public/assets/icons/index.ts
Labels: style:tulip:, 반응형💫

#91 Feature/result share
  components/result/ResultShareButton/index.tsx
Labels: 기능구현🎃

#101 Feature/result question
  components/result/Question/QuestionButton/index.tsx
  components/result/Question/QuestionButton/style.ts
  components/result/Question/QuestionModal/DropdownInput/index.tsx
  components/result/Question/QuestionModal/DropdownInput/style.ts
  components/result/Question/QuestionModal/InputForm/style.ts
  components/result/Question/QuestionModal/index.tsx
  components/result/Question/QuestionModal/style.ts
  components/result/Question/style.ts
  public/assets/icons/index.ts
  public/assets/icons/mobileResultDropdownIcon.svg
  public/assets/icons/mobileResultDropupIcon.svg
Labels: style:tulip:, 반응형💫

#102 Develop
  components/result/Question/QuestionButton/index.tsx
  components/result/Question/QuestionButton/style.ts
  components/result/Question/QuestionModal/DropdownInput/index.tsx
  components/result/Question/QuestionModal/DropdownInput/style.ts
  components/result/Question/QuestionModal/InputForm/style.ts
  components/result/Question/QuestionModal/index.tsx
  components/result/Question/QuestionModal/style.ts
  components/result/Question/style.ts
  public/assets/icons/index.ts
  public/assets/icons/mobileResultDropdownIcon.svg
  public/assets/icons/mobileResultDropupIcon.svg
Labels: 반응형💫
